@charset 'utf-8';
/*头像-编辑-退出*/
.contain{
    height: 100%
}
*{margin:0,padding:0;}
img{display: block;}
.clearfix:after {
    content:".";  
    height:0;  
    visibility:hidden;  
    display:block;  
    clear:both;  
}
.admin_info{width: 100%;height: 22%;position: relative;}
.admin_info .bianji{
    width:40px;height:80px; position:absolute;top: 50%;left: 10%;color:#FFFFFF;
    }
.admin_info .bianji img,.admin_info .tuichu img{
    width: 20px;height: 20px;margin-bottom: 18px;margin-left: 4px;
    
    }
.admin_info .touxiang{
    /*position: absolute;width: 100px;height: 100px;left:50%;top: 10%;margin-left: -50px;border:8px solid rgba(255,255,255,.3);border-radius: 50%;overflow: hidden;
    */
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border: 10px solid transparent;
  box-sizing:border-box;
  background: rgba(255,255,255,.3);
  border-radius: 50%;
  overflow: hidden;
    }
.admin_info .touxiang img{width:100%}
.admin_info .tuichu{width:40px;height:80px; position:absolute;top: 50%;right: 10%;color: #FFFFFF;}

#jingyanzhi{position:absolute;width:100px;height: 100px;
    position: absolute;
width: 100px;
height: 100px;
left: 50%;
top: 0;
margin-left: -46px;
 margin-top: 4px; 
}

/*等级-名字*/
.admin_name_level{width: 100%;text-align: center;color: #FFFFFF;line-height: 25px;}


/*积分-储值*/
.admin_jf_cz{width: 100%;}
.admin_jf_cz .jifen{color:#FFFFFF;padding:9px 0;text-align: center;width: 50%;height: 100%;float: left;border-right: 1px solid rgba(255,255,255,.6);background-color:rgba(255,255,255,.4);}
.admin_jf_cz .chuzhi{color:#FFFFFF;padding:9px 0;text-align: center;width: 50%;height: 100%;float: right;background-color:rgba(255,255,255,.4)}

/*其他*/
.admin_details{width: 100;height:50%;padding:20px;}
.details_contain div,.details_contain p{
    font-size:.65rem;
}
.details_contain p{
    padding-top: 5px;
}
.admin_details .details_contain{width:100%;height:100%;}
.admin_details .details_contain .details_tp{width: 100%;height: 50%;text-align: center;}
.admin_details .details_contain .details_bt{width: 100%;height: 50%;text-align: center;}
.admin_details .details_contain .details_tp>div{float: left;width:33.3%;height:100%;color:#FFFFFF;text-align: center;padding-bottom:13%;}
.admin_details .details_contain .details_tp div img{width:1.25rem;margin:0 auto}
.admin_details .details_contain .details_bt>div{float: left;width:33.3%;height:100%;color:#FFFFFF;text-align: center;padding-top:10%;}
.admin_details .details_contain .details_bt div img{width:1.25rem;margin:0 auto}
.animate_1{
    width: 100%;
    /*height: 100%*/;
    position: absolute;
    bottom:116%;
}
.animate_2{
    width: 100%;
    /*height: 100%*/;
    position: absolute;
    top:121%
    }


.animatePage1 .animate_1{
     -webkit-animation: bounceUp .5s;
        -webkit-animation-fill-mode:forwards;
}
.animatePage1 .animate_2{
     -webkit-animation: bounceDown .5s;
        -webkit-animation-fill-mode:forwards;
}
.animatePage2 .animate_1{
     -webkit-animation: bounceUp .5s;
        -webkit-animation-fill-mode:forwards;
}
.animatePage2 .animate_2{
     -webkit-animation: bounceDown .5s;
        -webkit-animation-fill-mode:forwards;
}
.swiper-slide .animate_top:nth-child(2) .animate_1{
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.swiper-slide .animate_top:nth-child(3) .animate_1{
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.swiper-slide .animate_bot:nth-child(2) .animate_2{
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.swiper-slide .animate_bot:nth-child(3) .animate_2{
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

/*边框*/
.animate_bot,.animate_top{position: relative}
.br_right_bottom{position:relative;border-right:1px solid rgba(255,255,255,0.4);border-bottom:1px solid rgba(255,255,255,0.4);}
.br_bottom{ position:relative;border-bottom:1px solid rgba(255,255,255,0.4);}
.br_right{position:relative;border-right:1px solid rgba(255,255,255,0.4);}
.swiper-slide{width: 100%;height: 100%;}
.swiper-pagination-bullet{background-color: #FFFFFF;}
.swiper-pagination-bullet-active{background-color:#FFFFFF;}
.br_none{position: relative;}


@-webkit-keyframes bounceUp {
    0%{
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
    }
    100%{
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 90px, 0);
      
        
    }
}
@-webkit-keyframes bounceDown {
        0%{
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }
    100%{
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets {
bottom: 0;
}







