@charset 'utf-8';
* {
  -webkit-touch-callout: none;
  /*-webkit-user-select: none;*/
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,h1,h2,h3,p,ul,ol,form,fieldset,figure {margin: 0;padding: 0;font-size: 17px;}
div,figure,img,input,button {box-sizing: border-box;}
body,html{overflow:hidden; height: 100%;background:url('../img/cehuaye.png')no-repeat;width:100%;background-size:cover;font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;}
img {display: block;max-width: 100%;}
ul,ol{list-style: outside none none;}
li{display:block;}
a {text-decoration: none;display: block;}

/*header*/
.header{height: 7%;border-bottom:1px solid silver;width: 93%;margin:0 auto;position: relative;}
.header .contain{height:93%;width: 100%;}
.header .contain .back a{color:#FFFFFF;position: absolute;top:53%;left: 4%;width: 20%}
.header .contain .back a img{display: inline;height:12px;padding-right: 2px;}
.header #shangcheng{left:50%;height: 18px;position: absolute;top:50%;width: 41px;margin-left:-18.5px;margin-top: -2px;}
/*内容区域*/    
.contain{width:100%;height:93%;}


