<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=640,user-scalable=no">
		<title>我的单品</title>
		<link rel="stylesheet" href="../../css/style_header.css" />
		<link rel="stylesheet" href="../../css/style_wodedanpin.css">
		<link rel="stylesheet" href="../../css/reset.css" />
		<!-- <link rel="stylesheet" href="css/pullToRefresh.css"/> -->
		<link rel="stylesheet" href="../../css/swiper.css">
		<script src="../../js/jquery-2.1.1.min.js"></script>
		<script src="../../js/base.fontsize.js"></script>
	</head>

	<body>
		<div class="pagethree">
			<div class="header">
				<div class="contain">
					<div class="back">
						<a href="javascript:void(0);" onclick="closeWin();"><img src="../../img/nav_return@2x.png" alt="">返回</a>
					</div>
					<span class="title">创建单品</span>
					<div class="ok"><i class="save">完成</i></div>
				</div>
			</div>
			<div class="tupian" id="localImag">
				<strong>图片*</strong>
				<div class="fengmian"><img id="preview" src="../../img/fm@2x.png" alt=""></div>

					<form id="form" style="width: 100%;">
						<input type="file" name="CoverImage" id="doc" style="width:150px;" onchange="javascript:setImagePreview('doc','preview','preview_01_image');" hidden>
						<input type="file" name="Image" id="doc_02" style="width:150px;" onchange="javascript:setImagePreview('doc_02','preview_02','preview_02_image');" hidden>
					</form>
					<div class="dapei"><img id="preview_02" src="../../img/tp@2x.png" alt=""></div>
					<img id="preview_01_image" src="" hidden>
					<img id="preview_02_image" src="" hidden>

					<div class="open"><img src="../../img/list_choices.png" alt=""></div>
				</div>
			
			<div class="fenlei">
				<strong>分类*</strong>
				<span id="fenlei_class" data-id=""></span>
				<div class="open"><img src="../../img/list_choices.png" alt=""></div>
			</div>
			<div class="yanse">
				<strong>颜色*</strong>
				<div class="swiper-container">
					<ul class="swiper-wrapper colorlist"></ul>
				</div>
			</div>
			<div class="details">
				<ul>
					<li class="flip size-list">
						<strong>尺码*</strong><span class="selected">选择单品的尺码</span>
						<div class="panel">
							<ul class="clearfix">
							</ul>
						</div>
						<div class="open"><img src="../../img/list_choices.png" alt=""></div>
					</li>
					<li class="flip season-list"><strong>季节*</strong><span class="selected">选择单品适穿季节</span>
						<div class="panel">
							<ul class="clearfix"></ul>
						</div>
						<div class="open"><img src="../../img/list_choices.png" alt=""></div>
					</li>
					<li class="flip productattribute-list"><strong>风格*</strong><span class="selected">选择单品属于风格</span>
						<div class="panel">
							<ul class="clearfix"></ul>
						</div>
						<div class="open"><img src="../../img/list_choices.png" alt=""></div>
					</li>
					<li><strong>名称*</strong><input placeholder="填写单品名称" class="ProductName" /><img class="pencil" src="../../img/pencil@2x.png" /></li>
					<li><strong>价格*</strong><input placeholder="购买单品的花费" class="Price" /><img class="pencil" src="../../img/pencil@2x.png" /></li>
					<li><strong>品牌</strong><input placeholder="选择单品品牌" class="Brand" maxlength="12" /><img class="pencil" src="../../img/pencil@2x.png" /></li>
					<li><strong>备注</strong><input placeholder="如：洗涤方式" class="Notes" /><img class="pencil" src="../../img/pencil@2x.png" /></li>
				</ul>
				<div class="end">*为必填项目</div>
			</div>
		</div>
		<div class="bg"></div>

	</body>
	<script src="../../js/mui.js"></script>
	<script src="../../js/swiper.min.js"></script>
	<script src="../../js/jquery.form.js"></script>
	<script src="../../js/lss_global.js"></script>
	<script type="text/javascript">
		LSShang.ready(function() {
				//渲染颜色分类
				lssAjax.postJson({
						url: host + '/api/properties/color/getlist',
						data: {
							MemberId: userId,
							U_Num: userNum
						},
						success: function(data) {
							//console.log(data)
							if(data.ResultType == 3) {
								$.each(data.Data, function(i, item) {
									$('.colorlist').append('<li class="swiper-slide" data-colorid=' + item.ColorId + '><img src="' + item.IconPath + '"/><p>' + item.ColorName + '</p></li>')
								})
								$('.colorlist').append('<li class="swiper-slide"></li>');
								var swiper = new Swiper('.swiper-container', {
									slidesPerView: 6,
									spaceBetween: 5,
								});
							}
						}
					})
					/*-------------------------------- 季节选择器 ----------------------------------------*/
				lssAjax.postJson({
						url: host + '/api/properties/season/getlist',
						data: {
							MemberId: userId,
							U_Num: userNum,
						},
						success: function(data) {
							//console.log(data)
							if(data.ResultType == 3) {
								$.each(data.Data, function(i, item) {
									$('.season-list .panel ul').append('<li data-id=' + item.SeasonId + '>' + item.SeasonName + '</li>')
								})
							}
						}
					})
					/*-------------------------------- 风格选择器 ---------------------------------------*/
				lssAjax.postJson({
					url: host + '/api/products/productattribute/getlist',
					data: {
						MemberId: userId,
						U_Num: userNum,
						ProductAttrType: 0
					},
					success: function(data) {
						//console.log(data)
						if(data.ResultType == 3) {
							$.each(data.Data, function(i, item) {
								$('.productattribute-list .panel ul').append('<li data-id=' + item.ProductAttrId + '>' + item.AttributeName + '</li>')
							})
						}
					}
				})

			})
			//拍照上传
		$('#preview').on('click', function() {
			var comtextareass = '0';
			var quality = '100';
			uexCamera.open();
			uexCamera.cbOpen = function(opCode, dataType, picpath) {
					alert(picpath)
					$('body').html('<img src="/storage/emulated/0/widgetone/apps/001/photo/scan20161214115513.jpg" />');
					var json = {
						displayActionButton: true,
						displayNavArrows: true,
						enableGrid: true,
						//startOnGrid:true,
						startIndex: 2,
						data: [picpath]
					}
					json = JSON.stringify(data);
					uexImage.openBrowser(json);
				}
				//$('#doc').click();
		})
		$('#preview_02').on('click', function() {
				$('#doc_02').click();
			})
			/*----------------------------------- 上传图片预览功能 ------------------------------*/
		function setImagePreview(input, img, imgbox) {

			var docObj = document.getElementById(input);

			var imgObjPreview = document.getElementById(img);
			if(docObj.files && docObj.files[0]) {
				var file = docObj.files[0];
				if(!/image\/\w+/.test(file.type)) {
					LSShang.toast({
						msg: "图片格式不正确",
						duration: 1000
					});
					return false;
				}
				var reader = new FileReader();
				//将文件以Data URL形式读入页面  
				reader.readAsDataURL(file);
				reader.onload = function() {
					imgObjPreview.src = this.result;
					document.getElementById(imgbox).src = this.result
				}
			}
		}
		/*---------------------------------- 颜色，季节，风格展开  ---------------------------------*/

		$('.flip').on('click', function(e) {
				//$('.panel').not($(this).find('.panel')).slideUp();
				$('.panel').slideUp();
				$(this).find('.panel').slideDown();
			})
			/*---------------------------------------- 分类选择器 ----------------------------------*/
		$('.fenlei .open').on('click', function() {
				openNewWin('addSingleProductClassification.html')
			})
			/*--------------------------------------- 颜色选择器  -----------------------------------*/
		$('.yanse .colorlist').on('click', '.swiper-slide img', function() {
			$('.slide-active-ys').removeClass('slide-active-ys')
			$(this).parent().addClass('slide-active-ys');
		})


		/*--------------------------------------- 尺码选择    -------------------------------------*/
		$('.size-list').on('click', function() {
			var categoryid = $('#fenlei_class').attr('data-id');
			if(categoryid == '') {
				LSShang.toast('请选择分类');
				$(this).find('.panel').slideUp();
				return;
			}
		})

		function getSize(categoryId) {
			lssAjax.postJson({
				url: host + '/api/properties/size/getlist',
				data: {
					MemberId: userId,
					U_Num: userNum,
					CategoryId: categoryId
				},
				success: function(data) {
					//console.log(data)
					if(data.ResultType == 3) {
						$('.size-list .panel ul').empty();
						$.each(data.Data, function(i, item) {
							$('.size-list .panel ul').append('<li data-id=' + item.SizeId + '>' + item.SizeName + '</li>')
						})
						var swiper = new Swiper('.swiper-container', {
							slidesPerView: 5,
						});
					}
				}
			})
		}
		//接收addSingleProductClassification页面回传值渲染尺码
		var classificationId = -1; //初始化类型id
		function setClassification() {
			classificationId = LSShang.getlocStorageVal('addSingleProductParm', 'classificationId');
			var classificationName = LSShang.getlocStorageVal('addSingleProductParm', 'classificationName');
			$('#fenlei_class').html(classificationName);
			$('#fenlei_class').attr('data-id', classificationId);
			getSize(classificationId);
		}

		/*------------------------------- 选择季节，风格，尺码 ----------------------------------------*/
		$('.panel').on('click', 'ul li', function(e) {
			$('.panel').slideUp();
			$(this).parent().parent().find('.active').removeClass('active');
			$(this).addClass('active');
			$(this).parent().parent().parent().find('.selected').html($(this).text());
			e.stopPropagation();
		})
		$('.panel').on('click', function(e) {
			e.stopPropagation(); //点击列表阻止冒泡
		});

		/*------------------------------- 上传单品   ----------------------------------------*/
		//防止重复提交数据

		LSShang.loadAnimate($('.bg'), 'zzloading');

		$('.save').click(function() {
			$(this).addClass('saveDisabled');

			//TemporaryMedia(); 
		})

		function TemporaryMedia() {
			$('.bg').show();
			var image = $("#doc").val();
			//提交请求处理的url  
			var actionUrl = host + "/api/products/membersingleproduct/add";
			var formData = new FormData();
			var CoverImagebase64 = compress(document.getElementById('preview_01_image'));
			var Imagebase64 = compress(document.getElementById('preview_02_image'));

			formData.append('MemberId', userId);
			formData.append('U_Num', userNum);
			formData.append('CategoryId', classificationId); //类型Id
			formData.append('ProductName', $('.ProductName').val()) //商品标题(12个字符以内)
			formData.append('ColorId', $('.colorlist .slide-active-ys').attr('data-colorid')) //颜色Id
			formData.append('SizeId', $('.size-list .active').attr('data-id')) //尺码Id
			formData.append('SeasonId', $('.season-list .active').attr('data-id')) //季节
			formData.append('ProductAttrId', $('.productattribute-list .active').attr('data-id'))
			formData.append("CoverImage", convertBase64UrlToBlob(CoverImagebase64));
			formData.append("Image", convertBase64UrlToBlob(Imagebase64));
			//开始ajax操作  
			//$("#form").ajaxSubmit({      
			$.ajax({
					type: "POST", //提交类型  
					dataType: "json", //返回结果格式  
					url: actionUrl, //请求地址  
					data: formData,
					processData: false, // 告诉jQuery不要去处理发送的数据
					contentType: false, // 告诉jQuery不要去设置Content-Type请求头  
					success: function(data) {
						console.log(data)
						setTimeout(function() {
							$('.save').removeClass('saveDisabled');
							LSShang.toast(data.Message);
							$('.bg').hide();
						}, 500)

						if(data.ResultType == 3) {
							setTimeout(function() {
								uexWindow.evaluateScript("wodedanpin", 0, 'getData()') //刷新父页面
								closeWin();
								//openNewWin('wodedanpin','wodedanpin.html?t'+new Date().getDate()); 
							}, 500)
						}
					},
					error: function(data) {
						LSShang.toast(data.msg);
						$('.bg').hide();
					}, //请求失败的函数  
					async: true
				})
				//});  
		}

		function convertBase64UrlToBlob(urlData) {
			var bytes = window.atob(urlData.split(',')[1]); //去掉url的头，并转换为byte
			//处理异常,将ascii码小于0的转换为大于0
			var ab = new ArrayBuffer(bytes.length);
			var ia = new Uint8Array(ab);
			for(var i = 0; i < bytes.length; i++) {
				ia[i] = bytes.charCodeAt(i);
			}
			return new Blob([ab], {
				type: 'image/png'
			});
		}
	</script>
	<script>
		/*==================================  edit start  ==================================================*/

		/************************ edit数据渲染 *************************/

		LSShang.ready(function() {
			if(LSShang.getlocStorage('editDanpinId') != null) {
				var editProductId = LSShang.getlocStorage('editDanpinId')
				setEdit(editProductId);
				$('.save').off();
				$('.save').click(function() { //保存编辑    
					$(this).addClass('saveDisabled');

					saveEdit();

				})
				LSShang.removelocStorage('editDanpinId');
			}
		})

		function setEdit(editProductId) {
			lssAjax.postJson({
				url: host + '/api/products/membersingleproduct/getedit',
				data: {
					MemberId: userId,
					U_Num: userNum,
					ProductId: editProductId,
					ProductType: 0
				},
				success: function(data) {
					console.log(data)
					initEdit(data.Data)
				}
			})
		}

		function initEdit(parm) {
			console.log(parm)
			EDIT.setProductId(parm.ProductId);
			EDIT.setImg(parm.CoverImagePath, parm.ImagePath)
			EDIT.setCategory(parm.CategoryId, parm.CategoryName);
			EDIT.setColor(parm.ColorId, parm.ColorName);
			EDIT.setSize(parm.SizeId, parm.SizeName);
			EDIT.setSeason(parm.SeasonId, parm.SeasonName);
			EDIT.setProductAttr(parm.ProductAttrId, parm.ProductAttrName);
			EDIT.setVal(parm.ProductName, parm.Price, parm.Brand, parm.Notes);
		}

		function getSize(categoryId) {
			lssAjax.postJson({
				url: host + '/api/properties/size/getlist',
				data: {
					MemberId: userId,
					U_Num: userNum,
					CategoryId: categoryId
				},
				success: function(data) {
					console.log(data)
					if(data.ResultType == 3) {
						$('.size-list .panel ul').empty();
						$.each(data.Data, function(i, item) {
							$('.size-list .panel ul').append('<li data-id=' + item.SizeId + '>' + item.SizeName + '</li>')
						})
						var swiper = new Swiper('.swiper-container', {
							slidesPerView: 6,
							spaceBetween: 5,
						});
					}
				}
			})
		}
		var EDIT = {
			setProductId: function(ProductId) {
				$('.header .title').html('修改单品')
				$('.header').attr('ProductId', ProductId)
			},
			setImg: function(CoverImagePath, ImagePath) {
				$('#preview').attr('src', CoverImagePath);
				$('#preview_02').attr('src', ImagePath);
			},
			setCategory: function(CategoryId, CategoryName) {
				getSize(CategoryId);
				$('#fenlei_class').html(CategoryName);
				$('#fenlei_class').attr('data-id', CategoryId);
			},
			setColor: function(ColorId, ColorName) {
				$('.yanse .swiper-slide[data-colorid=' + ColorId + ']').addClass('slide-active-ys')
			},
			setSize: function(SizeId, SizeName) {
				console.log($('.size-list .panel li'))
					//$('.size-list .active').attr('data-id',SizeId);
				$('.size-list .selected').html(SizeName);
				$('.size-list .selected').attr('data-id', SizeId);
			},
			setSeason: function(SeasonId, SeasonName) {
				$('.season-list .selected').html(SeasonName);
				$('.season-list .panel li[data-id=' + SeasonId + ']').addClass('active');
			},
			setProductAttr: function(ProductAttrId, ProductAttrName) {
				$('.productattribute-list .selected').html(ProductAttrName);
				$('.productattribute-list .panel li[data-id=' + ProductAttrId + ']').addClass('active');
			},
			setVal: function(ProductName, Price, Brand, Notes) {
				$('.ProductName').val(ProductName)
				$('.Price').val(Price)
				$('.Brand').val(Brand)
				$('.Notes').val(Notes)
			}
		}

		function saveEdit() {
			$('.bg').show();
			var image = $("#doc").val();
			//提交请求处理的url  
			var actionUrl = host + "/api/products/membersingleproduct/saveedit";
			// var formData = new FormData();   
			// var CoverImagebase64 = compress(document.getElementById('preview_01_image'));
			// var Imagebase64 = compress(document.getElementById('preview_02_image'));
			// formData.append('ProductId',$('.header').attr('ProductId'))
			// formData.append('MemberId',userId);
			// formData.append('U_Num',userNum);
			// formData.append('CategoryId',classificationId); //类型Id
			// formData.append('ProductName',$('.ProductName').val())//商品标题(12个字符以内)
			// formData.append('ColorId',$('.colorlist .slide-active-ys').attr('data-colorid'))//颜色Id
			// formData.append('SizeId',$('.size-list .active').attr('data-id'))  //尺码Id
			// formData.append('SeasonId',$('.season-list .active').attr('data-id'))   //季节
			// formData.append('ProductAttrId',$('.productattribute-list .active').attr('data-id'))
			// formData.append("CoverImagePath",convertBase64UrlToBlob(CoverImagebase64));  
			// formData.append("ImagePath",convertBase64UrlToBlob(Imagebase64)); 
			//编辑上传图片没有压缩
			$("#form").ajaxSubmit({
				type: "POST", //提交类型  
				dataType: "json", //返回结果格式  
				url: actionUrl, //请求地址  
				data: {
					ProductId: $('.header').attr('ProductId'),
					MemberId: userId,
					U_Num: userNum,
					ProductName: $('.ProductName').val(),
					CategoryId: $('#fenlei_class').attr('data-id'),
					ColorId: $('.colorlist .slide-active-ys').attr('data-colorid'),
					SizeId: $('.size-list .selected').attr('data-id'),
					SeasonId: $('.season-list .active').attr('data-id'),
					ProductAttrId: $('.productattribute-list .active').attr('data-id'),
					Price: $('.Price').val(), //价格(保留小数点后两位)
					Brand: $('.Brand').val(), //品牌(12个字符以内)
					Notes: $('.Notes').val(),
					CoverImagePath: $('#preview').attr('src'),
					ImagePath: $('#preview_02').attr('src')
				}, //请求数据  
				success: function(data) { //请求成功后的函数  
					setTimeout(function() {
						$('.save').removeClass('saveDisabled');
						$('.bg').hide();
					}, 1500)
					console.log(data)
					LSShang.toast(data.Message);
					if(data.ResultType == 3) {
						setTimeout(function() {
							closeWin();
						}, 500)
					}
				},
				error: function(data) {
					LSShang.toast(data.msg);
					$('.bg').hide();
				}, //请求失败的函数  
				async: true
			});

		}
		/*==================================  edit end  ==================================================*/

		/********************************************* 图片压缩 ********************************************/
		/*
		param /img：图片dom对象/
		 返回值:压缩后base64
		*/
		function compress(img) {
			var $img = img;

			//$img.onload = function() {
			var maxtWidth = 1000;
			//生成比例
			var width = $img.width;
			var height = $img.height;

			scale = width / height;

			if(width > maxtWidth) {
				width = parseInt(maxtWidth);
			}
			height = parseInt(width / scale);

			//生成canvas
			var $canvas = document.createElement('CANVAS');
			var ctx = $canvas.getContext('2d');
			$canvas.width = width;
			$canvas.height = height;
			console.log(ctx.drawImage)
				//ctx.drawImage(img,0,0,width,height); 
			ctx.drawImage($img, 0, 0, width, height);
			var base64 = $canvas.toDataURL('image/png', 0.5);
			//$('body').html($canvas)

			//alert(convertBase64UrlToBlob(base64).size)
			return base64;
			//}
		}
	</script>

</html>