	<!DOCTYPE html>
	<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=640,user-scalable=no">
		<title>买手</title>
		<link href="../../css/style_public.css"  rel="stylesheet">
		<link href="../../css/component.css" rel="stylesheet"/>
		
		<link rel="stylesheet" href="../../css/style_maishou.css"/>
        <link rel="stylesheet" href="../../css/pullToRefresh.css"/>
        <!-- <script src="js/loading.js"></script> -->		
		<style>
		  
		</style>
		
	</head>

	<body>
	 <div id="st-container" class="st-container" > 
	        
	  	<div class="st-pusher">				  		
            <div class="search_box">
                <div id="search" class="search">
                    <img src="../../img/ms01@2x.png"/> 
                    <div class="qiehuan">
                        <div class="qiehuan_contain">
                            <img src="../../img/qh@2x.png" class="qiehuan_img" alt="切换"><span>切换</span>
                        </div>
                    </div>
            <!-- 搜索框-->
                    <div class="search_products">
                        <input type="search" class="serch_inp">
                        <img class="search_img" src="../../img/ss.png" alt="png">
                    </div>                    
                </div>
                <div class="guanbi_search">                     
                    <img src="../../img/ms02@2x.png"/>
                    <img id="show_hide" src="../../img/bg_icon@2x.png"/>
                </div>                         
            </div>             
            <div class="contain" >
                <div id="main">
                    <div id="wrapper">
                        <ul>
                            <li>
                                <img src="../../img/dp11.jpg"/>
                                <div class="titel">
                                    <span class="titel_portrait">
                                         <img src="../../img/2(1).png"/>
                                    </span>
                                    <span class="titel_describe">
                                        <h3>天生丽质，自然生长</h3><p class="title_persion_name">逍遥小熊</p>
                                    </span>
                                    <span class="titel_likeit">
                                        <img src="../../img/xin.png" data-show="0"/>
                                    </span>
                                </div>
                                 <div class="comment">
                                        <span class="comment_icon"><img src="../../img/news.png"/></span>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                        
                                            <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>
                                           <div class="clearfix"></div> 
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                         
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                       
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                            
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                         
                                        </div>           
                                 </div>
                            </li>
                            <li>
                                <img src="../../img/dp11.jpg"/>
                                 <div class="titel">
                                    <span class="titel_portrait">
                                         <img src="../../img/2(1).png"/>
                                    </span>
                                    <span class="titel_describe">
                                        <h3>天生丽质，自然生长</h3><p class="title_persion_name">逍遥小熊</p>
                                    </span>
                                    <span class="titel_likeit">
                                        <img src="../../img/xin.png" data-show="0"/>
                                    </span>
                                </div>
                                 <div class="comment">
                                        <span class="comment_icon"><img src="../../img/news.png"/></span>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                        
                                            <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>
                                           <div class="clearfix"></div> 
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                         
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                       
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                            
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                         
                                        </div>           
                                 </div>
                            </li>
                            <li>
                                <img src="../../img/dp11.jpg"/>
                                 <div class="titel">
                                    <span class="titel_portrait">
                                         <img src="../../img/2(1).png"/>
                                    </span>
                                    <span class="titel_describe">
                                        <h3>天生丽质，自然生长</h3><p class="title_persion_name">逍遥小熊</p>
                                    </span>
                                    <span class="titel_likeit">
                                        <img src="../../img/xin.png" data-show="0"/>
                                    </span>
                                </div>
                                 <div class="comment">
                                        <span class="comment_icon"><img src="../../img/news.png"/></span>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                        
                                            <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>
                                           <div class="clearfix"></div> 
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                         
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                       
                                        </div>
                                        <div class="comment_number">
                                            <img src="../../img/2gl@2x.png" class="comment_portrait"/>
                                            
                                             <div class="comment_detail">
                                                <span>小红:</span><span>好看</span>  
                                            </div>  
                                            <div class="clearfix"></div>                                         
                                        </div>           
                                 </div>
                            </li>
                          
                        </ul>
                    </div>
                </div>
             </div>  
        </div>
    </div>
</body> 
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/lss_global.js"></script> 
<script src="../../js/iscroll.js"></script>
<script src="../../js/pullToRefresh.js"></script>
<script src="../../js/lss_maishou.js"></script>
</html>